<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- SEO meta -->
    <title>Nicolas Vauché • formation • gestion de projets • conception web • hello@nicolasvauche.net • +33 6 83 57 30 67</title>
    <meta name="description" content="Coordinateur de projets numériques, développeur web & formateur indépendant en Creuse, Limousin, France. Conception & réalisations web, présence et communication numériques. Formation aux usages et aux outils de communication et de collaboration modernes. hello@nicolasvauche.net | +33 6 83 57 30 67" />

    <!-- Application icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Web fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Styleshhets -->
    <link rel="stylesheet" href="/css/normalize.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8" />
</head>

<body>
    {{> navigation this }}