<!--<nav class="menu">
    <ul>
        <li class="{{#if_eq currentPath '/'}}active{{/if_eq}}">
            <a href="/">home</a>
        </li>
        <li class="{{#if_eq currentPath '/test'}}active{{/if_eq}}">
            <a href="/test">test</a>
        </li>
    </ul>
</nav>-->